<!-- in form submission -->
<div class="form-group" data-select2-id="25">
	<select class="form-control js-example-basic-multiple select2-hidden-accessible" name="regular[]" multiple=""
		required="" data-select2-id="1" tabindex="-1" aria-hidden="true">
		<option value="History" data-select2-id="13">History</option>
		<option value="Political Science" data-select2-id="14">Political Science</option>
		<option value="Economics" data-select2-id="15">Economics</option>
		<option value="Education" data-select2-id="16">Education</option>
		<option value="Philosophy" data-select2-id="17">Philosophy</option>
		<option value="Elective Assamese" data-select2-id="18">Elective Assamese</option>
		<option value="Elective Hindi" data-select2-id="19">Elective Hindi</option>
		<option value="Arabic" data-select2-id="20">Arabic</option>
		<option value="Mathematics" data-select2-id="21">Mathematics</option>
		<option value="Linguistics" data-select2-id="22">Linguistics</option>
	</select><span
		class="select2 select2-container select2-container--default select2-container--below select2-container--focus"
		dir="ltr" data-select2-id="2" style="width: 498.044px;"><span class="selection"><span
				class="select2-selection select2-selection--multiple" role="combobox" aria-haspopup="true"
				aria-expanded="false" tabindex="-1" aria-disabled="false">
				<ul class="select2-selection__rendered">
					<li class="select2-selection__choice" title="Political Science" data-select2-id="33"><span
							class="select2-selection__choice__remove" role="presentation">×</span>Political Science</li>
					<li class="select2-selection__choice" title="Economics" data-select2-id="34"><span
							class="select2-selection__choice__remove" role="presentation">×</span>Economics</li>
					<li class="select2-search select2-search--inline"><input class="select2-search__field" type="search"
							tabindex="0" autocomplete="off" autocorrect="off" autocapitalize="none" spellcheck="false"
							role="searchbox" aria-autocomplete="list" placeholder="" style="width: 0.75em;"></li>
				</ul>
			</span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
</div>
