<html>

<head>
	<title>Receipt</title>
	<style>
		h1,
		h2,
		h3,
		h5 {
			text-align: center;
		}

		h4 {
			text-align: left;
		}

		table {
			font-family: arial, sans-serif;
			border-collapse: collapse;
			width: 100%;
		}

		td,
		th {
			border: 1px solid #dddddd;
			text-align: left;
			padding: 4px;
		}

		.container {
			margin: 50px;
		}

		.bold {
			font-weight: bold;
		}

		.underline {
			text-decoration: underline;
		}

		.text-center {
			text-align: center;
		}

		.text-right {
			text-align: right;
		}

		.text-left {
			text-align: left;
		}

		.float-right {
			float: right;
		}

		.italic {
			font-style: italic;
		}

		span.a {
			display: inline;
			padding: 5px;
		}

		.narrow {
			float: right;
			width: 50%;
		}

		.wide {
			float: left;
			width: 50%;
		}

		.font-large {
			font-size: 18px;
		}

		.split {
			height: 100%;
			width: 40%;
			position: fixed;
			z-index: 1;
			top: 0;
			overflow-x: hidden;
			margin-top: 500px;
		}
		.top {
			position: relative;
		}

		.left {
			left: 0;
		}

		.right {
			right: 0;
		}

	</style>
</head>

<body>

	<div>
		<div class="split left">
			<span>Sl No.: '.$sd->sl_no.'</span>
			<div class="text-center">
				<div class="bold">College Name, Address</div>
				<div class="bold text-center">ESTD:1947</div>
				<div class="bold text-center">P.O.: Post Office, DIST: District</div>
				<div class="bold text-center">PIN: 123456</div>
			</div>
			<div class="text-center">Payment Receipt &nbsp;(Office copy)</div>
			<br>
			<div class="">
				<span><strong>Name:</strong>'.$sd->name.'</span>
				<span class="float-right"><strong>Course:</strong>'.$sd->course.'</span>
				<hr>
				<table style="width:100%; font-size: 10px; margin: 15px 0px 25px 0px;">
					<tr>
						<th>Sl No.</th>
						<th>Particulars</th>
						<th>Amount</th>
					</tr>
					<tr>
						<td>1</td>
						<td>Admission Fee</td>
						<td>'.$fd->adm.'</td>
					</tr>
					<tr>
						<td>2</td>
						<td>Tuition fee</td>
						<td>'.$fd->tution.'</td>
					</tr>
					<tr>
						<td>3</td>
						<td>Establishment</td>
						<td>'.$fd->estd.'</td>
					</tr>
					<tr>
						<td>4</td>
						<td>Electricity</td>
						<td>'.$fd->elect.'</td>
					</tr>
					<tr>
						<td>5</td>
						<td>Contingency</td>
						<td>'.$fd->cont.'</td>
					</tr>
					<tr>
						<td>6</td>
						<td>University Fee</td>
						<td>'.$fd->univ.'</td>
					</tr>
					<tr>
						<td>7</td>
						<td>ID Card Fee</td>
						<td>'.$fd->icard.'</td>
					</tr>
					<tr>
						<td>8</td>
						<td>Development Fee</td>
						<td>'.$fd->dev.'</td>
					</tr>
					<tr>
						<td>9</td>
						<td>Library Fee</td>
						<td>'.$fd->lib.'</td>
					</tr>
					<tr>
						<td>10</td>
						<td>Internal Exam. Fee</td>
						<td>'.$fd->exam.'</td>
					</tr>
					<tr>
						<td>11</td>
						<td>Magazine Fee</td>
						<td>'.$fd->megazine.'</td>
					</tr>
					<tr>
						<td>12</td>
						<td>Student Union Fee</td>
						<td>'.$fd->stud.'</td>
					</tr>
					<tr>
						<td>13</td>
						<td>Games and Sports Fee</td>
						<td>'.$fd->game.'</td>
					</tr>
					<tr>
						<td>14</td>
						<td>Festive Fee</td>
						<td>'.$fd->fest.'</td>
					</tr>
					<tr>
						<td>15</td>
						<td>Co-Curricular Fee</td>
						<td>'.$fd->curri.'</td>
					</tr>
					<tr>
						<td>16</td>
						<td>Cultural/Music Fee</td>
						<td>'.$fd->cult.'</td>
					</tr>
					<tr>
						<td>17</td>
						<td>Debating/Literature Fee</td>
						<td>'.$fd->lite.'</td>
					</tr>
					<tr>
						<td>18</td>
						<td>Student Welfare Fee</td>
						<td>'.$fd->welf.'</td>
					</tr>
					<tr>
						<td>19</td>
						<td>ICT</td>
						<td>'.$fd->ict.'</td>
					</tr>
					<tr>
						<td></td>
						<td>Total</td>
						<td>'.$total.'</td>
					</tr>
					<tr>
						<td></td>
						<td>Amount Paid</td>
						<td>'.$sd->paid_amt.'</td>
					</tr>
				</table>
				<div>
					<strong>Amount paid in words: </strong> '.$total_in_words.'
				</div>
				<hr>
			</div>
			<span style="font-size: 10px;">Date:'.date('d-m-Y').'</span>
			<span style="font-size: 10px; padding-left:110px;">Collecting Officer: ..........................</span>
		</div>
		<div class="split right">
			<span>Sl No.: '.$sd->sl_no.'</span>
			<div class="text-center">
				<div class="bold">College Name, Address</div>
				<div class="bold text-center">ESTD:1947</div>
				<div class="bold text-center">P.O.: Post Office, DIST: District</div>
				<div class="bold text-center">PIN: 123456</div>
				<div class="text-center">Payment Receipt &nbsp;(Student Copy)</div>
			</div>
			<br>
			<span><strong>Name:</strong>'.$sd->name.'</span>
			<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span>
			<span><strong>Course:</strong>'.$sd->course.'</span>
			<div class="">
				<hr>
				<table style="width:100%; font-size: 10px; margin: 15px 0px 25px 0px;">
					<tr>
						<th>Sl No.</th>
						<th>Particulars</th>
						<th>Amount</th>
					</tr>
					<tr>
						<td>1</td>
						<td>Admission Fee</td>
						<td>'.$fd->adm.'</td>
					</tr>
					<tr>
						<td>2</td>
						<td>Tuition fee</td>
						<td>'.$fd->tution.'</td>
					</tr>
					<tr>
						<td>3</td>
						<td>Establishment</td>
						<td>'.$fd->estd.'</td>
					</tr>
					<tr>
						<td>4</td>
						<td>Electricity</td>
						<td>'.$fd->elect.'</td>
					</tr>
					<tr>
						<td>5</td>
						<td>Contingency</td>
						<td>'.$fd->cont.'</td>
					</tr>
					<tr>
						<td>6</td>
						<td>University Fee</td>
						<td>'.$fd->univ.'</td>
					</tr>
					<tr>
						<td>7</td>
						<td>ID Card Fee</td>
						<td>'.$fd->icard.'</td>
					</tr>
					<tr>
						<td>8</td>
						<td>Development Fee</td>
						<td>'.$fd->dev.'</td>
					</tr>
					<tr>
						<td>9</td>
						<td>Library Fee</td>
						<td>'.$fd->lib.'</td>
					</tr>
					<tr>
						<td>10</td>
						<td>Internal Exam. Fee</td>
						<td>'.$fd->exam.'</td>
					</tr>
					<tr>
						<td>11</td>
						<td>Magazine Fee</td>
						<td>'.$fd->megazine.'</td>
					</tr>
					<tr>
						<td>12</td>
						<td>Student Union Fee</td>
						<td>'.$fd->stud.'</td>
					</tr>
					<tr>
						<td>13</td>
						<td>Games and Sports Fee</td>
						<td>'.$fd->game.'</td>
					</tr>
					<tr>
						<td>14</td>
						<td>Festive Fee</td>
						<td>'.$fd->fest.'</td>
					</tr>
					<tr>
						<td>15</td>
						<td>Co-Curricular Fee</td>
						<td>'.$fd->curri.'</td>
					</tr>
					<tr>
						<td>16</td>
						<td>Cultural/Music Fee</td>
						<td>'.$fd->cult.'</td>
					</tr>
					<tr>
						<td>17</td>
						<td>Debating/Literature Fee</td>
						<td>'.$fd->lite.'</td>
					</tr>
					<tr>
						<td>18</td>
						<td>Student Welfare Fee</td>
						<td>'.$fd->welf.'</td>
					</tr>
					<tr>
						<td>19</td>
						<td>ICT</td>
						<td>'.$fd->ict.'</td>
					</tr>
					<tr>
						<td></td>
						<td>Total</td>
						<td>'.$total.'</td>
					</tr>
					<tr>
						<td></td>
						<td>Amount Paid</td>
						<td>'.$sd->paid_amt.'</td>
					</tr>
				</table>
				<div>
					<strong>Amount paid in words: </strong> '.$total_in_words.'
				</div>
				<hr>
			</div>
			<span style="font-size: 10px;">Date:'.date('d-m-Y').'</span>
			<span style="font-size: 10px; padding-left:110px;">Collecting Officer: ..........................</span>
		</div>
	</div>
	<br>
	<div class="top">
		<div class="text-center bold" style="background-color:grey; color:white;">DONATION COUPON</div>
		<div>
			<span>Sl No.: '.$sd->sl_no.'</span>
			<div class="custom-header text-center">
				<div class="bold font-large">College Name, Address</div>
				<div class="bold text-center">ESTD:1947</div>
				<div class="bold text-center">P.O.: Post Office, DIST: District</div>
				<div class="bold text-center">PIN: 123456</div>
			</div>
		</div>
		<hr>
		<div>
			<div>
				<span><strong>Student Name:</strong> '.ucwords($sd->name).'</span>
				<span class="float-right"><strong>Code:</strong> '.$sd->code.'</span>
			</div>
			<br>
			<div>
				<table>
					<tr>
						<th>Opted Course</th>
						<th>Date</th>
						<th>Donation Amount</th>
					</tr>
					<tr>
						<td>'.$sd->course.'</td>
						<td>'.$sd->date.'</td>
						<td>'.$d_amount.'</td>
					</tr>
				</table>
				<br>
				<div>
					<strong>Donation paid: </strong> '.$d_amount_words.'
				</div>
				<div>
					<div style="margin-top:10px;">
						<hr>
						<div><span style="font-weight:bold;">Date</span><span
								style="float:right; font-weight:bold;">Collector\'s Sign</span></div>
						<div><span>...............................</span> <span
								style="margin-left:550px;">.............................................</span></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>
